html {
    font-size: 16px;
    font-family: sans-serif;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

    box-sizing: border-box;
    line-height: 1.4;
}

h1,h2,h3,h4,h5,a {
    font-family: "Lucida Console", Monaco, monospace;
}

a {
    color: black;
}

header {
    margin-bottom: 1rem;
}

header h1 {
    text-align: center;
    font-weight: 500;
}

#main {
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
}

#pages {
    display: flex;
    justify-content: center;
}

#pages a {
    margin: .5rem 1rem;
}

.post {
    margin-bottom: 3rem;
}

#modal:not(.show) {
    display: none;
}

#modal.show {
    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 1;

    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 1rem;

    margin: 5px auto;

    max-width: 800px;
    height: calc(100vh - 45px);
}

#modal.show:after {
    content: '';

    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    background-color: rgba(0, 0, 0, 0.7);

    cursor: pointer;
}

#content {
    z-index: 1;

    background-color: white;

    padding: 1rem;

    overflow-x: hidden;
}