html {
    font-size: 16px;
    font-family: sans-serif;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

    box-sizing: border-box;
    line-height: 1.4;
}

h1,h2,h3,h4,h5,a {
    font-family: "Lucida Console", Monaco, monospace;
}

a {
    color: black;
}

header h1 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 0;

    text-shadow: 1px 0 0 black;
}

#main {
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
}

#pages {
    display: flex;
    justify-content: center;
}

#pages a {
    margin: .5rem 1rem;
}

.post {
    margin-bottom: 3rem;
}

#modal:not(.show) {
    display: none;
}

#modal.show {
    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 1;

    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    margin: 0 auto;

    max-width: 800px;
    height: 100vh;
}

#modal.show:after {
    content: '';

    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    background-color: rgba(0, 0, 0, 0.7);

    cursor: pointer;
}

#content {
    position: relative;

    z-index: 1;
    padding: 1rem;

    background-color: white;
    overflow-x: hidden;
}

#content h1 {
    text-align: center;
}

#content h2, 
#content h3, 
#content h4, 
#content h5 {
    margin: 2rem 0 1rem 0;

}

#content blockquote {
    border-left: 3px solid black;
}

#content blockquote p, 
#content blockquote cite {
    font-style: italic;
    padding-left: 1rem;
}

#content blockquote p:before,
#content blockquote p:after {
    content: '"';
    display: block;

    font-size: 2rem;
    font-weight: bold;
    line-height: 1;

    height: 1rem;
}

#content blockquote p:after {
    text-align: right;
}

#content figure {
    margin: 1rem 0 2rem 0;
    display: flex;
    justify-content: center;
}

#content figure img {
    max-width: 700px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
}

#content .back {
    position: sticky;
    top: 0;
    margin: 0 0 0 auto;

    height: 2rem;
    width: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;

    background-color: black;
    color: white;

    border: 1px solid black;
    border-radius: 50%;
}